.comment-content {
	@include clearfix();

	a {
		word-wrap: break-word;
	}
}

.bypostauthor {
	display: block;
}

//Basic Styling
.comments-area {
	.comment-list {
		padding: 0;
		margin: 0;
	}

	.comment-author {
		img {
			float: left;
			margin-right: 15px;
		}

		.url {
			color: $color__body-text;
			text-transform: capitalize;
		}
	}

	li.comment {
		border-bottom: 1px solid $color__background-hr;
		overflow: hidden;
		margin-bottom: 25px;
	}

	li.comment:last-child {
		border-bottom: none;
	}

	.comment-body {
		margin-bottom: 20px;

		p {
			margin-bottom: 5px;
		}
	}

	ol.children {
		margin-bottom: 0;
	}
}

.comment-form-comment {
	textarea {
		width: 100%;
	}
}

/** Comments **/
.comments-title{
	font-size: 18px;
	color: $dark-gray-100;
	font-weight: 400;
	margin-top: -7px;
}

.comment__conatiner{
	display: flex;
}
.comment__icon {
	margin: 0 10px 10px 10px;
}
.comment__icon p{
	margin-top: 13px;
}

.comment__author .fn .url{
	color: $red-100;
}
.comment__body{
	width: 100%;
}

.comment__header{
	font-size: 13px;
}

.comment__content{
	font-size: 14px;
}

.comment-reply-link {
	float: right;
	padding: 0 10px 10px 0;
}

.bypostauthor{
	background-color: $white;
}
.comment-reply-title,
.comment-notes,
.comment-form-comment label,
label .required{
	display: none;
}
.comment-form-comment textarea{
	border: 1px solid $dark-gray-100;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    margin: 0;
    padding: 0;
    width: 33.33%;
	float: left;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
	margin-top: 10px;
	width: 95%;
	border: 1px solid $dark-gray-100;
	border-radius: 0px;
}

.form-submit .submit {
    float: right;
    padding: 10px;
    color: $white;
	background-color: #222222;
	background-image: none;
    border-radius: 5px;
    margin-top: 15px;
}
