.comment-content {
	@include clearfix();

	a {
		word-wrap: break-word;
	}
}

.bypostauthor {
	display: block;
}

//Basic Styling
.comments-area {
	.comment-list {
		padding: 0;
		margin: 0;
	}

	.comment-author {
		img {
			float: left;
			margin-right: 15px;
		}

		.url {
			color: $color__body-text;
			text-transform: capitalize;
		}
	}

	li.comment {
		border-bottom: 1px solid $color__background-hr;
		overflow: hidden;
		margin-bottom: 25px;
	}

	li.comment:last-child {
		border-bottom: none;
	}

	.comment-body {
		margin-bottom: 20px;

		p {
			margin-bottom: 5px;
		}
	}

	ol.children {
		margin-bottom: 0;
	}
}

.comment-form-comment {
	textarea {
		width: 100%;
	}
}

/** Comments **/
.comments-title{
	font-size: 18px;
	color: #62585f;
	font-weight: 400;
	margin-top: -7px;
}

.comment-form-comment textarea{
	border: 1px solid #62585f;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    margin: 0;
    padding: 0;
    width: 33.33%;
	float: left;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
	width: 95%;
	border: 1px solid #62585f;
}

.form-submit .submit {
    float: right;
    padding: 10px;
    color: #FFF;
    background-color: #222222;
    border-radius: 5px;
    margin-top: 15px;
}
