.widget {
	margin: 0 0 map-get($grid-column-gutter, small);

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-sidebar {
	clear: both;
	padding: map-get($grid-column-gutter, small) / 2;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-title {
	font-size: 22px;
	line-height: 30px;
}

/* Portfolio Widget */
.widget-sidebar {
	padding: 0;
}

.widget-title{
	font-weight: 400;
	font-size: 25px;
	color: #62585f;
	text-shadow: 2px 0 #ffffff;
	margin-bottom: 0;
}

.widget_portfolio {
	display: flex;
	flex-wrap: wrap;
}

.portfolio--widget {
	width: 60px;
	height: 60px;
	margin: 5px;
}

.portfolio__img.wp-post-image {
	width: 100%;
	border-radius: 5px;
}

.widget-post__img.wp-post-image{
	height: 45px;
	border-radius: 3px;
	margin: 5px 5px 0 0;
}

.widget-post__title {
	font-size: 14px;
	color: #62585f;
	margin: 0 0 3px 0;
	padding-top: 0;
}

.widget-post__title:hover {
	color: $red-100;
}

.widget-post--custom
{
	display: flex;
}

.widget-post__author {
	font-size: 12px;
	margin-top: 3px;
}

.widget-post__author .byline .author a{
	color: red;
}

@media (max-width:962px) and (min-width:768px) {
	.posted-on {
		display: none;
	}
}
