.site-header {
	padding-top: 20px;
	padding-bottom: 20px;
	grid-column: 4/11;
	display: flex;
	justify-content: space-between;
	min-height: 105px;
	flex-wrap: wrap;
	min-width: 250px;
}

.site-branding{
	float: left;
}

.navigation__form{
	padding: 6px;
}

.navigation__form__button{
	position: relative;
	top: 4px;
	left: 5px;
}

.navigation__form .navigation__form__box{
	border: 1px solid $dark-gray-100;
	border-radius: 3px;
	height: 20px;
	width: 150px;
}

.site-title {
	margin-bottom: 10px;
}

.site-description {
	margin-bottom: 0;
}

.navigation--togller{
	display: none;
	font-size: 30px;
	border: none;
	background: inherit;
}

.navigation--togller:hover{
	color: $red-100;
	background: inherit;
}

/* Carousel */
.header-img{
	height: 56vh;
	grid-column: 1/14;
	background-image: url('../img/slider-image.png');
	width: 100%;
	background-size: cover;
	background-position: center;
}

.carousel__slides
{
	display: none;
}

.carousel__content{
	text-align: center;
	max-width: 55%;
	margin: auto;
	margin-top: 12%;
}

.carousel__slides__title {
	color:$white;
	font-size: 70px;
	font-weight: 700;
	text-shadow: 2px 0 #950904;
}

.carousel__slides__content {
	color:$white;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}

.carousel__button--left {
	left: -50%;
	position: relative;
}

.carousel__button--right {
	left: 50%;
	position: relative;
}

/* Services Navigation */
.service-nav{
	height: 100%;
	min-height: 101px;
	background-image: url('../img/features-repeatable-bg.png');
	background-repeat: repeat;
	grid-column: 1/14;
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-column-gap: 30px;
}

.service-nav-container{
	grid-column: 4/11;
	display: flex;
	justify-content: space-around;
}

.service{
	max-width: 300px;
	display: flex;
	align-items: center;

	.service__icon{
		margin-right: 10px;
		min-width: 50px;
	}

	.service__content{

		h3{
			margin: 5px ;
			font-size: 20px;
			color: $red-100;
		}

		p{
			margin: 5px ;
			font-size: 13px;
			line-height: 19.5px;
		}
	}
}

/* Media Queries for Responsive Navbar */
@media screen and (max-width: 1360px) {
	.site-header{
		grid-column: 2/13;
		padding: 15px;
	}
	.service-nav-container{
		grid-column: 2/13;
	}
	.service{
		.service__content{
			p{
				display: none;
			}
		}
	}

}

@media screen and (max-width: 1360px) {
	.carousel__slides__title {
		font-size: 60px;
	}
}

@media screen and (max-width: 950px) {

	.designfly-main-navigation{
		display: none;
	}

	.navigation--togller {
		float: right;
		display: block;
		background: inherit;
	}

	.primary-menu{
		display: flex;
		flex-direction: column;
	}

	.designfly-main-navigation.responsive{
		display: flex;
		flex-direction: column;
		width: 100%;
		order: 1;
	}

	.carousel__slides__title {
		font-size: 50px;
	}
}

@media screen and (max-width: 667px) {

	.carousel__slides__title {
		font-size: 40px;
	}

	.service{
		.service__content{
			h3{
				display: none;
			}
		}
	}
}

@media screen and (max-width: 568px) {
	.navigation__form .navigation__form__box {
		width: 88%;
	}
	.carousel__content{
		max-width: 65%;
		margin: 35% auto;
	}

	.carousel__slides__title {
		font-size: 28px;
		line-height: 1.2;
	}

	.carousel__slides__content {
		font-size: 12px;
	}

	.service{
		.service__content{
			display: none;
		}
	}

}
