.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 24px 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 24px;
}

.site-main {
	padding: 15px;
}

.designfly-pagination {
	text-align: center;
}

/*Home Page*/
.home-page-wrap {
	grid-column: 1/13;
}

/* Blog Page */
.blog-content-top .title {
	display: inline-block;
	color: #62585f;
	font-weight: 300;
	font-size: 45px;
	text-shadow: 2px 0 #ffffff;
	margin-bottom: 0;
	margin-top: 35px;
}

.blog__post__date{
	float: left;
	background-color: #222222;
	border-radius: 3px;
	color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
	border-right: 1px solid #ffffff;

	.blog__post__day{
		font-size: 25px;
		max-height: 25px;
		margin-top: -3px;
	}

	.blog__post__month{
		font-size: 14px;
		margin-top: 4px;
		margin-left: 1px;
		text-transform: uppercase;
	}
}
.blog-page-heading {
	font-size: 45px;
	color: #62585f;
	text-shadow: 2px 2px #ffffff;
}

.entry-title {
	padding-left: 20px;
	padding-top: 8px;
	background-color: #222222;
	height: 50px;
	border-radius: 3px;
	color: #ffffff;
}
.blog__post__date:hover{
	background-color:  #ef4634;
}
.entry-title:hover {
	background-color: #ef4634;
}

.entry-title a{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	padding-left: 10px;
}

.entry-title a:hover{
	text-decoration: none;
}

.blog__attachment {
	float: left;
	margin-right: 20px;
}

.entry-content{
	margin-bottom: 60px;
}

// .entry-image img{
// 	float: left;
// 	margin-right: 20px;
// }

/* Portfolio page*/

.portfolio-content {
	grid-column: 4/11;
	margin: 50px auto;
	display: -ms-grid;
	display: -moz-grid;
	display: grid;
	-ms-grid-columns: repeat(3,1fr);
	grid-template-columns: repeat(3,1fr);
	column-gap: 15px;
	row-gap: 15px;
	justify-content: center;
}

.portfolio-content .portfolio-content-top {
	grid-column: 1/4;
	margin: 5px 0;
}

.portfolio-content .portfolio-content-top hr {
	margin: 10px 0 20px 0;
	background: #62585f;
	height: 1px;
}

.portfolio-content .portfolio-content-top .title {
	display: inline-block;
	color: #62585f;
	font-weight: 300;
	font-size: 45px;
	text-shadow: 2px 0 #ffffff;
	margin-bottom: 0;
}

.portfolio-content> div[class^="post-"] {
	cursor: pointer;
	position: relative;
	height: 210px;
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
}

.portfolio-content .post-thumbnail img {
	object-fit: cover;
	object-position: center;
	-moz-transition: 0.3s transform ease-out;
	transition: 0.3s transform ease-out;
}

.portfolio-content .view-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 1;
	-moz-transition: 0.3s opacity linear;
	transition: 0.3s opacity linear;
}

.portfolio-content .post-title {
	display: none;
}

.portfolio-content .view-image span {
	margin-bottom: 5px;
	color: #ffffff;
}

/** Hover effect **/

.portfolio-content> div[class^="post-"]:hover .post-thumbnail img {
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.portfolio-content> div[class^="post-"]:hover .view-image {
	opacity: 1;
}

/** View Image styles **/
.lightbox {
	position: fixed;
	z-index: 10;
	height: 100vh;
	width: 100vw;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}

.lightbox .lightbox__content {
	position: relative;
	padding: 20px 20px 0px 20px;
	background-color: #ffffff;
}

.lightbox .lightbox__content img {
	border-radius: 5px;
}

.lightbox .lightbox__content .post-title {
	margin: 15px 0;
	text-align: center;
}

.lightbox .lightbox__content .post-title a {
	font-size: 1.4rem;
	color: #62585f;
}

.lightbox .lightbox__content .post-title a:hover {
	text-decoration: none;
	color: #ef4634;
}

.lightbox .lightbox__content .close{
	position: absolute;
	right: -35px;
	top: 0;
	height: 35px;
	width: 35px;
	cursor: pointer;
	color: #62585f;
	background-color: #ffffff;
	opacity: 1;
	display: -ms-inline-flexbox;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
