.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 24px 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 24px;
}

.site-main {
	padding: 15px;
}

.designfly-pagination {
	text-align: center;
}

/*Home Page*/
.home-page-wrap {
	grid-column: 1/13;
}

.before-view-button{
	display: none;
}

.portfolio__button{
	background-color: #222222;
	padding: 10px;
	border-radius: 3px;
	font-size: 16px;
	color: $white;
	float: right;
	margin-top: 60px;
}

/* Blog Page */
.entry-header{
	clear: both;
}

.blog-content-top .title {
	display: inline-block;
	color:$dark-gray-100;
	font-weight: 300;
	font-size: 45px;
	text-shadow: 2px 0 $white;
	margin-bottom: 0;
	margin-top: 35px;
}

.blog-post__heading{
	display: flex;
	background-color: #222222;
	color: $white;
	min-height: 50px;
	border-radius: 3px;
	margin-bottom: 20px;
	font-weight: 400;
}

.blog-post__date{
	align-self: center;
	float: left;
	padding: 0 16px 2px 16px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: 1px solid $white;
	margin-right: 10px;

	.blog-post__day{
		font-size: 25px;
		max-height: 25px;
	}

	.blog-post__month{
		font-size: 14px;
		padding-top: 2px;
		text-transform: uppercase;
	}
}

.blog-post__title {
	align-self: center;
	padding: 4px 12px;
	color: $white;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
}
.blog-post__heading:hover {
	background-color: $red-100;
	color: $white;
}

.blog-post__title a:hover{
	text-decoration: none;
}

.blog__attachment {
	float: left;
	margin: 0 20px 20px 0;
}
article .entry-meta{
	font-size: 13px;
	font-weight: 400;
}

article .entry-meta .comments{
	float: right;
	color: $red-100;
}

.entry-meta .byline .author a{
	color: $red-100;
}

.excerpt{
	font-size: 14px;
	font-weight: 400;
	color:$dark-gray-100;
	line-height: 21px;
	text-align: justify;
}

.entry-content p{
	font-size: 14px;
	font-weight: 400;
	color:$dark-gray-100;
	line-height: 21px;
	text-align: justify;
}

.designfly-read-more{
	font-size: 14px;
	color: $red-100;
	text-transform: uppercase;
}

.designfly-read-more:hover{
	text-decoration: underline;
}

.entry-content p a{
	font-size: 14px;
	color: $red-100;
	text-transform: uppercase;
}

.entry-content p a:hover{
	text-decoration: underline;
}

.moretag::before {
	content: " \a ";
	white-space: pre;
}

.entry-content{
	margin-bottom: 60px;
}

.designfly-pagination .current{
	color: $white;
	background-color: $red-100;
	border: 1px solid$dark-gray-100;
	border-radius: 3px;
	padding: 0 10px 0 10px;
}

.designfly-pagination a{
	padding: 0 10px 0 8px;
}
.designfly-pagination a:hover{
	color: $white;
	background-color: $red-100;
	border-radius: 3px;
}
.pagination-arrow-right {
	padding-bottom: 5px;
}

/* Portfolio page*/
.portfolio-content {
	grid-column: 4/11;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.portfolio-content .portfolio-content-top {
	width: 100%;
	margin: 5px 0;
}

.portfolio-content .portfolio-content-top .title {
	display: inline-block;
	color:$dark-gray-100;
	font-weight: 300;
	font-size: 45px;
	text-shadow: 2px 0 $white;
	margin-bottom: 0;
}

.post-thumbnail img{
	cursor: pointer;
	position: relative;
	height: 210px;
	width: 300px;
	border-radius: 10px;
	margin: 5px;
}

.post-thumbnail .image-overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	color: $white;
	margin: -5px 0 0 -10px;
	border-radius: 10px;
	height: 231px;
	width: 330px;
	opacity: 0;
	z-index: 3;
}

.post-thumbnail:hover .image-overlay {
	opacity: 1;
}

.post-thumbnail:hover img {
	transform: scale(1.1);
	z-index: 2;
}

/** LIGHTBOX MARKUP **/

.lightbox {
	/* Default to hidden */
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lightbox__content {
	cursor: pointer;
	display: block;
	padding: 10px;
	background-color: $white;
	max-width: 80vw;
}

.lightbox__image{
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.lightbox__content .exit {
	position: absolute;
	z-index: 10;
	height: 30px;
	width: 30px;
	font-size: 20px;
	margin-left: 10px;
	background-color: $white;
	margin-top: -10px;
	padding: 2px 2px 2px 6px;

}
.lightbox__footer{
	display: flex;
	justify-content: space-between;
	color:$dark-gray-100;
	padding: 0 10px;
}

.lightbox__content img{
	border-radius: 5px;
	max-height: 80vh;
}

.lightbox__content .previous {
	font-size: 30px;
}

.lightbox__content .post-title {
	padding-top: 10px;
	font-size: 20px;
}

.lightbox__content .next {
	font-size: 30px;
}

/* Single Page */
.page-title{
	font-size: 35px;
	color:$dark-gray-100;
	text-shadow: 2px 0 $white;
	font-weight: 400;
}

.entry-content{
	text-align: justify;
}

.wp-block-image.size-large.is-resized {
	width: 100%;
}

.wp-block-image img {
	width: 100%;
}

.entry-footer{
	font-size: 13px;
}

.entry-footer-link:hover{
	text-decoration: underline;
}

/* Media Queries */

@media screen and (max-width: 1360px) {
	.site-main{
		margin-right: 0;
	}
	.portfolio-content{
		grid-column: 2/13;
	}
}

@media (max-width:1060px) and (min-width:768px) {
	article .entry-meta .comments {
		display: block;
		float: none;
	}
}

@media screen and (max-width: 680px) {
	article .entry-meta .comments {
		display: block;
		float: none;
	}
}

@media screen and (max-width: 568px) {

	.portfolio-content .portfolio-content-top .title {
		font-size: 32px;
	}

	.blog-content-top .title{
		font-size: 32px;
	}

	.blog__attachment {
		width: 100%;
	}

	.before-view-button{
		display: block;
	}

	.after-view-button{
		display: none;
	}

	.portfolio__button{
		margin: 0 0 10px 0;
	}
	.page-title{
		font-size: 24px;
	}
}
