.grid-wrapper{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 30px;
}

.site{
	grid-column: 3/11;
}
.site-content{
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 30px;
}

.site-primary{
	grid-column: 3/8;
}

.site-secondary{
	grid-column: 8/11;
}
