.grid-wrapper{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
}

.site{
	grid-column: 3/11;
}
.site-content{
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-column-gap: 30px;
}

.site-primary{
	grid-column: 3/9;
}

.site-secondary{
	grid-column: 9/12;
}
